# Archivos basura del sistema
.DS_Store
Thumbs.db

# Configuración de ventanas (Para que cada uno tenga sus pestañas abiertas)
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace-mobile